body {
    background-image: url("https://picsum.photos/id/82/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#header {
    background-color: #820263;
    height: 60px;
}

#header,.nav > a, #hero, #cta {
    color:white;

}

#hero {
    font-size: 22px;
}

#hero > h1{
    font-size: 80px;
}

#cta {
    background-color: #d380a7;
}

#cta:hover{
    color:#d380a7;
    background-color: white;
}
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#services{
    background-color: rgb(231, 179, 218);
}

.card{
    background-color: white;
    width: fit-content;
}